<header>
    <nav>
        <a class="menu-brand menu-link" href="/">
            <h1>{{ config.SITE_NAME }}</h1>
        </a>
        <button id="humberger_button" type="button" class="humberger" aria-controls="navigation" aria-expanded="false" aria-label="menu">
            <span class="humberger-line"></span>
        </button>
        <div class="humberger-menu">
            <div class="humberger-menu-container">
                <ul class="menu-ul">
                    <li class="menu-item">
                        <a class="menu-link" href="/">TOP</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/regist">登録</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="/auth">認証</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>