<!DOCTYPE html>
<html lang="ja">
<head>
    {% include 'meta.html' %}
</head>
<body>
    {% include 'header.html' %}

    <div class="wrapper">
        <div class="container">
            <main>
                <!-- <h1>{{ page_title }}</h1> -->
                <div>
                    <div class="btn-group">
                        <button class="btn btn-normal btn-green" type="button" onclick="location.href='/regist'">登録</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-normal btn-blue" type="button" onclick="location.href='/auth'">認証</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-normal btn-gray" type="button" onclick="location.href='/demo'">デモページ</button>
                    </div>
                </div>
            </main>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
</html>